{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}

{% block title %}
Sign In / {{site.name}}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center"> 
  <div class="login-box">

    <h1>{% trans "Log In" %}</h1>

    <p class="lead">{% blocktrans with site.name as site_name %}
      Not yet registered? <a href="{{ signup_url }}">Sign up</a> for a {{ site_name }} account.{% endblocktrans %}</p>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}

    <div class="socialaccount_ballot">

        <!-- list of oauth login providers -->
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}

    <hr>      
    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}

    <div class="form-container">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input class="form-control" type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="btn btn-outline-dark" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <button class="btn btn-success" type="submit">{% trans "Log In" %}</button>
      </form>

  </div>

</div>

{% endblock %}