{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load static %}

{% block title %}
Sign In / {{site.name}}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center"> 
  <div class="authentication-box">

    <h1>{% trans "Log In" %}</h1>

    <p class="lead">{% blocktrans with site.name as site_name %}
      Not yet registered? <a href="{{ signup_url }}">Sign up</a> for a {{ site_name }} account.{% endblocktrans %}</p>

    <div class="form-container">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input class="form-control" type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="btn btn-outline-dark" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <button class="btn btn-success" type="submit">{% trans "Log In" %}</button>
      </form>
      <hr class="mt-4">
    </div>
  </div>

</div>

{% endblock %}