

.recipe-img {
    width: 500px;
    height: auto;
    margin-bottom: 100px;
}

.card-header {
  margin-bottom: 150px;
}

.about-text {
    font-family: 'Roboto', sans-serif;
}


.authentication-box {
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 6px 5px 0px 0px rgba(0, 0, 0, 0.75);
    border-radius: 25px;
    background-color: rgb(214, 230, 245, 0.2);
    padding: 25px;
    margin-top: 50px;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
}

.google-icon {
    border: 2px solid rgb(177, 169, 169);
    border-radius: 10px;
    padding: 10px;
}

a {
    text-decoration: none;
}

.logout {
    font-size: large;
    font-weight: bold;
}

.message {
    border: 1px solid gray;
    border-radius: 10px;
    background-color: yellow;
    font-size: 25px;
}

.hide {
    display: none; /* Hide the alert */
  }


  /* Rating stars */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}