body {
    min-height: 100vh;

.page-title {
    font-size: 25px;
} 

/* Nav bar */

nav {
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(171, 196, 255);
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
}

.navbar-nav-group {
    display: flex;
}

.navbar-nav-group:first-child {
    margin-left: -10px; 
}

.navbar-nav-group:last-child {
    margin-right: -10px;
}

.popular {
    margin-left: 155px;
}

.marg {
    margin-right: 50px;
}

.contact-me {
    margin-right: 145px;
}

.recipe-img {
    width: 790px;
    height: auto;
    margin-bottom: 100px;
}

.about-text {
    font-family: 'Roboto', sans-serif;
}


.authentication-box {
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 6px 5px 0px 0px rgba(0, 0, 0, 0.75);
    border-radius: 25px;
    background-color: rgb(214, 230, 245, 0.2);
    padding: 25px;
    margin-top: 50px;
}

.google-icon {
    border: 2px solid rgb(177, 169, 169);
    border-radius: 10px;
    padding: 10px;
}

a {
    text-decoration: none;
}

.logout {
    font-size: large;
    font-weight: bold;
}

.message {
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 25px;
}

.success {
    background-color: green;
}

.warning {
    background-color: #ffec99;
}

.error {
    background-color: red;
}

.hide {
    display: none; /* Hide the alert */
  }


/* Comments section */
.faded {
  color: rgb(172, 175, 175);
}

  /* Rating stars */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

/* Buttons */

btn-saved {
    margin-right: 1rem;
    border: 1px solid black;
    border-radius: 10px;
}

btn-shadow {
    box-shadow: 6px 5px 0px 0px black;
}

/* Saved recipe page */
.save {
    font-weight: bolder;
}

/* Likes */
#likes {
    margin-left: -10px;
}

/* Recipe item */
.card-style {
    height: 650px;
}

.card-width {
    width: 790px;
}

.card-border {
    border: 2px solid rgb(171, 196, 255);
}

li::marker {
    color: rgb(171, 196, 255);
  }

.item-title {
    font-size: 25px;
    font-weight: 400;
    color: black;
    height: 60px;
    text-align: center;
}

.num-ratings {
    margin-left: 10px;
    margin-bottom: 0;
}

.save-btn {
    margin-left: -20px;
}


/* Recipe detail page */
.recipe-title {
    font-size: 3.5rem;
    font-weight: bold;
}

/* Comments */
.comment-login {
    font-size: 20px;
    color: white;
}

.btn-com-log {
    height: 45px;
}

.leave-comment {
    display: flex;
    justify-content: center;
    align-items: center;
} 

/* Error pages */
.page-404 {
    background-image: url(../images/404_3.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh; 
}

.color-back {
    background-color: rgb(175, 216, 255);
}

footer {
    background-color: rgb(171, 196, 255);
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-font{
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
}

i {
    font-size: 20px;
}

.home-link {
    color: white;
    font-weight: bolder;
    font-size: 1rem;
}

.page-400 {
    background-image: url(../images/400.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh; 
}

.page-403 {
    background-image: url(../images/403.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh; 
}

.forbidden-font {
    color: black;
    font-size: 1.5rem;
}

.page-500 {
    background-image: url(../images/500.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh; 
}

.internal-error {
    font-size: 2.5rem;
    font-weight: bold;
}