{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5">
  <div class="row">
    <div class="col-4 text-center">
      <img class="about_img" src="{% static 'images/home/home_pancakes2.webp' %}" alt="Pancake with Strawberrys as toping" />
    </div>
    <div class="col-8">
      <h2 class="text-center mb-5">{{ about.title }}</h2>
      {{ about.content | safe }}
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
    </div>
  </div>
</div>
{% endblock content %}