{% load static %}


<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Discover the perfect pancake recipe tailored to your taste 
        preferences and personalize it with your favorite ingredients.">
        <meta name="keywords" content="Recipes, Pancakes, Cooking, Food, Healthy Recipes, Kids, Vegan, Share">
        <title>The Pancake Palace</title>

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet">

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

        <!-- CSS stylesheet-->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <!-- Font Awesome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <script src="https://kit.fontawesome.com/4b6d9dae9f.js" crossorigin="anonymous"></script>

    </head>

    <body class="d-flex flex-column main-bg">
        <header class="container-fluid fixed-top">
            <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                    <a class="page-title navbar-brand" href="{% url 'home' %}">
                        <img src="{% static 'images/site_logo.webp' %}" alt="Site Logo" width="65" height="65"
                            class="d-inline-block align-text-middle">
                        The Pancake Palace
                    </a>
                </div>
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <form method="GET" action="{% url 'search_recipe' %}">
                        <div class="input-group w-100">
                            <label for="q" class="sr-only">Search</label>
                            <input class="form-control border border-black rounded-0" type="text" name="q" id="q" placeholder="Search">
                            <div class="input-group-append">
                                <button class="btn btn-outline-success" aria-label="search" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search mr-0"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                        {% if user.is_authenticated %}
                            <li class="list-inline-item dropdown">
                                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false"><i class="fa-regular fa-user"></i>
                                    {{ user.username }}
                                </a>
                                <ul class="dropdown-menu text-end">
                                    <li><a href="{% url 'saved_recipes' %}" class="dropdown-item">Saved Recipes</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="{% url 'submitted_recipes' %}">Submitted Recipes</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="{% url 'share_recipe' %}">Share a Recipe</a></li>
                                </ul>
                            </li>
                            <li class="list-inline-item">
                                <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page"
                                    href="{% url 'account_logout' %}"><div class="text-center">Logout</a>
                            </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                                        href="{% url 'account_signup' %}">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page"
                                        href="{% url 'account_login' %}">Login</a>
                                </li>
                            {% endif %}
                    </ul>
                </div>
            </div>
            <div class="row bg-white">
                <nav class="navbar navbar-expand-lg navbar-light w-100">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    {% include 'mobile-top-header.html' %}
                    {% include 'main-nav.html' %}
                </nav>
            </div>
        </header>

        <!-- Notifications -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    {% for message in messages %}
                    <div class="message alert {{ message.tags }} alert.dismissable fade show text-center" id="msg"
                        role="alert">
                        {{ message | safe }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <main class="container mt-3">

            {% block content %}
            <!-- Content Goes here -->
            {% endblock content %}

        </main>


        <footer class="text-center text-lg-start text-muted">
            <!-- Section: Social media -->
            <div class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                <!-- Left -->
                <div class="me-5 d-none d-lg-block footer-font">
                    <span>© 2024 The Pancake Palace</span>
                </div>
                <!-- Left -->

                <!-- Right -->
                <div>
                    <a href="https://www.facebook.com/" target="_blank" class="me-4 text-reset">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.twitter.com/" target="_blank" class="me-4 text-reset">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com/" target="_blank" class="me-4 text-reset">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
                <!-- Right -->
            </div>
        </footer>

        <!--Bootstrap JS Script Link-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
        </script>

        <!-- JQuery CDN -->
        <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous">
        </script>

        <!-- JavaScript-->
        <script src="{% static 'js/script.js' %}"></script>

        <!-- Dynamic-formset javascript -->
        <script src="{% static 'js/jquery.formset.js' %}"></script>
        <!-- Inline javascript added following dynamic-formset docs -->

        <script>
            $(function () {
                $('#ingredients-formset tbody tr').formset({
                    prefix: '{{ ingredients_formset.prefix }}',
                    formCssClass: 'dynamic-ingredients-formset'
                });
                $('#preparation-formset tbody tr').formset({
                    prefix: '{{ preparation_formset.prefix }}',
                    formCssClass: 'dynamic-preparation-formset'
                });
            })
        </script>

        {% block extras %}
        {% endblock %}

    </body>

</html>