<div class="collapse navbar-collapse mobile-color" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold top-nav-it nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'popular_pancakes' %}" class="popular marg top-nav-it nav-link {% if request.path == popular_pancakes_url %}active{% endif %}">Popular Pancakes</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'pancakes_kids' %}"
                class="marg  top-nav-it nav-link {% if request.path == pancakes_for_kids_url %}active{% endif %}">Pancakes
                for Kids</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'vegan_pancakes' %}"
                class="marg  top-nav-it nav-link {% if request.path == vegan_pancakes_url %}active{% endif %}">Vegan
                Pancakes</a>
        </li>
        <li class="nav-item">
            <a class="marg top-nav-it nav-link {% if request.path == about_url %}active{%endif%}"
                aria-current="page" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item">
            <a class="contact-me top-nav-it nav-link {% if request.path == contact_url %}active{%endif%}"
                aria-current="page" href="{% url 'contact' %}">Contact</a>
        </li>
    </ul>
</div>
