<ul class="smalld-nav top-nav">
<li class="list-inline-item">
    <a class="text-black nav-link d-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-search fa-lg nav-color"></i></div>
            <p class="my-0 nav-color">Search</p>
        </div>
    </a>
    <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
        <form class="d-flex" role="search" method="GET" action="{% url 'search_recipe' %}">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Search" name="search_query" required
                aria-label="Search">
            <button class="btn btn-outline-success mobile-search" type="submit">Search</button>
        </form>
    </div>
</li>
<li class="list-inline-item dropdown">
    {% if request.user.is_authenticated %}
        <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="text-center">
                <div><i class="fas fa-user fa-lg nav-color"></i></div>
                <p class="my-0 nav-color">{{ user.username }}</p>
            </div>
        </a>
    {% else %}
    <a class="text-black nav-link d-block d-lg-none user-logo" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-user fa-lg nav-color"></i></div>
            <p class="my-0 nav-color">{{ user.username }}</p>
        </div>
    </a>
    {% endif %}
    <div class="dropdown-menu border-0 mobile-margin" aria-labelledby="user-options">
        {% if request.user.is_authenticated %}
            <a href="{% url 'saved_recipes' %}" class="dropdown-item">Saved Recipes</a>
            <a href="{% url 'submitted_recipes' %}" class="dropdown-item">Submitted Recipes</a>
            <a href="{% url 'share_recipe' %}" class="dropdown-item">Share Recipe</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
        {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
        {% endif %}
    </div>
</li>
</ul>