{% load static %}

<div class="col-md-4">
    <div class="card mb-4">
        <div class="card-body card-style">
            <div class="image-container">
                <div class="image-flash">
                    <a href="{% url 'recipe_detail' recipe.slug %}"><img class="card-img"
                            src="{% static 'images/raspberry_passionfruit.webp' %}"
                            alt="Raspberry-Passion fruit pancakes"></a>
                </div>
            </div>
            <a href="{% url 'recipe_detail' recipe.slug %}">
                <h2 class="card-title item-title mt-3">{{ recipe.title }}</h2>
            </a>
            <hr>
            {% if request.user.is_authenticated %}
            <div class="container-fluid">
                <div class="row mb-3">
                    <!-- Save Button -->
                    <div class="col-md-2">
                        <div class="button-group">
                            {% if recipe.saved_boolean %}
                            <a href="{% url 'remove_recipe' recipe.slug %}" class="btn btn-outline-primary">Remove</a>
                            {% else %}
                            <a href="{% url 'save_recipe' recipe.slug %}" class="btn btn-outline-primary save-btn">Save</a>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Rating and Rating Number -->
                    <div class="col-md-10 d-flex align-items-center justify-content-end">
                        <div class="rating-stars">
                            {% for i in "xxxxx" %}
                            {% if forloop.counter <= recipe.rating %}
                            <i class="fa-solid fa-star" style="color: gold;"></i>
                            {% else %}
                            <i class="fa-solid fa-star"></i>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div>
                            <p class="num-ratings">{{ recipe.number_of_ratings|default_if_none:"0" }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="container-fluid">
                <div class="row">
                    <!-- Save Button -->
                    <div class="col-md-2">
                        <div class="button-group">
                            <a href="{% url 'account_login' %}" class="btn btn-outline-primary save-btn">Save</a>
                        </div>
                    </div>
                    <!-- Rating and Rating Number -->
                    <div class="col-md-10 d-flex align-items-center justify-content-end">
                        <div class="rating-stars">
                            {% for i in "xxxxx" %}
                            {% if forloop.counter <= recipe.rating %}
                            <i class="fa-solid fa-star" style="color: gold;"></i>
                            {% else %}
                            <i class="fa-solid fa-star"></i>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div>
                            <p class="num-ratings">{{ recipe.number_of_ratings|default_if_none:"0" }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
