{% extends "base.html" %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<section>
    <h1 class="text-center mb-3 share">Share Recipe</h1>
    <div class="container-fluid d-flex align-items-center recipe-form">
        <form class="share-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="elements-dir row mt-3">
                <div class="mb-2">
                    {{ form.title | as_crispy_field }}
                </div>
                <div class="mb-2" id="img-ext">
                    {{ form.recipe_image | as_crispy_field }}
                </div>
                <div class="mb-2">
                    {{ form.servings | as_crispy_field }}
                </div>
                <div class="mb-2">
                    {{ form.cooking_duration | as_crispy_field }}
                </div>
                <div>
                    {{ form.category | as_crispy_field }}
                </div>
                <div>
                    {{ form.ingredients| as_crispy_field }}
                </div>
                <div>
                    {{ form.preparation | as_crispy_field }}
                </div>
            </div>
            
            <div class="row mt-3 make-public">
                {{ form.make_public | as_crispy_field }}
            </div>
            <div>
            <div class="submit-cancel">
                <input class="recipe-submit btn btn-success me-3" type="submit" value="Submit">
                <a class="recipe-cancel btn btn-secondary" href="{% url 'home' %}" role="button">Cancel</a> 
            </div>
        </form>
    </div>
</section>
{%endblock%}

{% block extras %}
    <script src="{% static 'js/checkFileType.js' %}"></script>
{% endblock %}